*{
    box-sizing: border-box;
    font-family: 'vazir';
}

@font-face {
    font-family: 'vazir';
    src: url('Vazir.woff')format('woff');
}

body{
    padding: 0;
    margin: 0;
    direction: rtl;
}

.title-nav-menu{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #1a2634; 
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    z-index: 10;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.title-nav-logo{
    padding: 10px;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #7dd49e;
    font-weight: bold;
    letter-spacing: 1.2px;
}

.btn-primary{
    cursor: pointer;
    flex-direction: column;
    gap: 6px;
    display: flex;
    background: none;
    padding: 10px;
}

.btn-primary div{
    width: 32px;
    height: 3px;
    background: #7dd49e;
    border-radius: 3px;
    transition: 0.3s;
}

.nav-links{
    background-color: #1a2634;
    padding: 40px 10px;
    flex-direction: column;
    gap: 20px;
    width: 240px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -240px;
    height: 100vh;
    transition: 0.5s;
}

.show{
    right: 0;
}

.nav-links a{
    text-decoration: none;
    font-size: 1.1rem;
    color: #ffff;
    margin-bottom: 10px;
    padding: 5px;
    font-weight: bold;
    display: block;
    transition: 0.3s;
}

.nav-links a:hover{
    color: #7dd49e;
}

.header-section{
    position: relative;
    height: 100vh;
    background: url('image1.jpg') no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    color: #dbe7e4;
    font-weight: 600;
}

.header-section::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(26, 38, 52, 0.75);
    z-index: 1;
    backdrop-filter: blur(5px);
}

.countainer-box{
    position: relative;
    z-index: 2;
    max-width: 850px;
}

.logo{
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-bottom: 12px;
    color: #7dd49e;
    user-select: none;
}
.intro{
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #c3d7d3;
}
.slogan{
    font-size: 1.7rem;
    font-weight: 800;
    margin-bottom: 25px;
    color: #a1c9b9;
    text-shadow: 0 0 8px #7dd49eaa;
}

.service-link{
    background-color: #7dd49e;
    color: #1a2634;
    padding: 12px 35px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 1.1rem;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(125, 212, 158, 0.5);
    transition: 0.3s ;
    user-select: none;
}

.service-link:hover{
    background-color: #5ab77f;
}

.about-section{
    padding: 30px 10px;
    background-color: #ffff;
    border-radius: 15px;
    margin: 40px 20px;
}
  
.about-container{
    max-width: 1000px;
    margin: auto;
    text-align: center;
}
  
.about-section h2{
    font-size: 2.5rem;
    color: #1a2634;
    margin-bottom: 35px;
}
  
.about-section p{
    font-size: 1.2rem;
    color: #495057;
    line-height: 1.8;
}

.about-section-image{
    overflow: hidden;
    
}

.about-section-image img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.services-section{
    padding: 30px 10px;
    margin: 40px 20px;
}
  
.services-container{
    max-width: 1100px;
    margin: auto;
    text-align: center;
}
  
.services-section h2{
    font-size: 2.5rem;
    color: #1a2634;
    margin-bottom: 35px;
}
  
.service-cards{
    justify-content: center;
}
  
.service-card{
    background-color: #f4f7f8;
    padding: 25px 20px;
    border-radius: 15px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    text-align: center;
    transition: 0.3s;
    margin: 20px auto;
}
  
.service-card:hover{
    transform: translateY(-4px);
    box-shadow: 0 7px 20px rgba(0,0,0,0.15);
}
  
.service-card h3{
    font-size: 1.5rem;
    color: #1a2634;
    margin-bottom: 15px;
}
  
.service-card p{
    font-size: 1rem;
    color: #495057;
    line-height: 1.6;
}

.advantages{
    padding: 30px 10px;
    background-color: #f4f7f8;
    height: 800px;
    background: url('image4.jpg') no-repeat center/cover;
}
  
.advantages-container{
    max-width: 1100px;
    margin: auto;
    text-align: center;
}
  
.advantages h2{
    font-size: 2.5rem;
    color: #1a2634;
    margin-bottom: 35px;
}
  
.advantage-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    padding: 10px;
}
  
.advantage-card{
    background-color: #ffffff;
    padding: 25px 20px;
    border-radius: 15px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    max-width: 250px;
    text-align: center;
    transition: 0.3s;
}
  
.advantage-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.15);
}
  
.advantage-card h3{
    font-size: 1.4rem;
    color: #1a2634;
    margin-bottom: 15px;
}
  
.advantage-card p{
    font-size: 1rem;
    color: #495057;
    line-height: 1.6;
}

.goals-values{
    padding: 80px 20px;
    margin: 40px 20px;
  }
  
.gv-container{
    max-width: 1000px;
    margin: auto;
    text-align: center;
}
  
.goals-values h2{
    font-size: 2.5rem;
    color: #1a2634;
    margin-bottom: 35px;
}
  
.gv-timeline{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
  
.gv-item{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px 25px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    transition: 0.3s;
}
  
.gv-item:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.15);
}

.gv-icon{
    font-size: 3rem;
    margin-right: 20px;
    color: #7dd49e;
}
  
.gv-text h3{
    font-size: 1.4rem;
    color: #1a2634;
    margin-bottom: 10px;
}
  
.gv-text p{
    font-size: 1rem;
    color: #495057;
    line-height: 1.6;
}

.pricing{
    padding: 80px 20px;
    background: url('image6.jpg') no-repeat center/cover;
}
  
.pricing-container{
    max-width: 1100px;
    margin: auto;
    text-align: center;
}
  
.pricing h2 {
    font-size: 2.5rem;
    color: #1a2634;
    margin-bottom: 35px;
}
  
.pricing-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}
  
  .pricing-card{
    background-color: #ffffff;
    padding: 25px 20px;
    border-radius: 15px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    max-width: 400px;
    height: 380px;
    text-align: center;
    transition: 0.3s;
}
  
.pricing-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.15);
}
  
.pricing-card h3{
    font-size: 1.6rem;
    color: #1a2634;
    margin-bottom: 15px;
}
  
.pricing-card .price{
    font-size: 1.4rem;
    color: #0077b6;
    font-weight: bold;
    margin-bottom: 20px;
}
  
.pricing-card ul{
    list-style: none;
    padding: 0;
}
  
.pricing-card ul li{
    font-size: 1rem;
    color: #495057;
    margin-bottom: 10px;
    line-height: 1.5;
}
  
.faq{
    padding: 80px 20px;
  }
  
  .faq-container {
    max-width: 900px;
    margin: auto;
    text-align: center;
  }
  
.faq h2{
    font-size: 2.5rem;
    color: #1a2634;
    margin-bottom: 35px;
  }
  
.faq-item {
    margin-bottom: 15px;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.153);
}

.faq-item:hover{
    transform: translateY(-5px);
}
  
.faq-question{
    width: 100%;
    background-color: #ffffff;
    color: #1a2634;
    border: none;
    padding: 18px 20px;
    text-align: right;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

.faq-answer{
    max-height: 0;
    overflow: hidden;
    background-color: #f1f5f9;
    padding: 20px 20px;
    transition:  0.5s;
}
  
.faq-answer p{
    margin: 15px 0;
    color: #495057;
}

.blog{
    padding: 80px 20px;
    background-color: #f4f7f8;
}
  
.blog-container{
    max-width: 1100px;
    margin: auto;
    text-align: center;
}
  
.blog h2{
    font-size: 2.5rem;
    color: #1a2634;
    margin-bottom: 35px;
}
  
.blog-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
  
.blog-card{
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    max-width: 350px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    transition: 0.3s;
    text-align: right;
}
  
.blog-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.15);
}
  
.blog-card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
  
.blog-card h3{
    font-size: 1.3rem;
    color: #1a2634;
    margin: 15px;
}
  
.blog-card p{
    font-size: 1rem;
    color: #495057;
    margin: 0 15px 15px 15px;
    line-height: 1.5;
}

.read-more-btn{
    display: inline-block;
    margin: 0 15px 15px 15px;
    padding: 10px 30px;
    background-color: #1a2634;
    color: #ffffff;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
  
.read-more-btn:hover{
    background-color: #182533;
    transform: translateY(-3px);
}

.contact-info-main{
    padding: 80px 20px;
    background-color: #f4f7f8;

}
  
.contact-main-container{
    max-width: 900px;
    margin: auto;
    text-align: center;
}
  
.contact-info-main h2{
    font-size: 2.5rem;
    color: #1a2634;
    margin-bottom: 35px;
}
  
.contact-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}
  
.contact-item{
    background-color: #ffffff;
    padding: 25px;
    border: 2px solid #1a2634;
    border-radius: 15px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    width: 210px;
    transition: 0.3s;
}
  
.contact-item:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.15);
}
  
.contact-item h3{
    color: #1a2634;
    margin-bottom: 10px;
}
  
.contact-item p{
    font-size: 1rem;
    color: #495057;
    line-height: 1.5;
}

.contact-icon{
    font-size: 2.5rem;
    display: block;
    margin-bottom: 10px;
    color: #1a2634;
}

footer{
    background-color: #1a2634;
    color: #ffffff;
    padding: 50px 20px;
    text-align: center;
}
  
.footer-container {
    max-width: 1000px;
    margin: auto;
}
  
.footer-logo{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: capitalize;
}
  
.footer-social{
    margin-bottom: 20px;
}
  
.footer-social a{
    color: #7dd49e;
    margin: 0 15px;
    font-size: 1.8rem;
    transition: 0.3s;
}
  
.footer-social a:hover{
    color: #5ebc85;
    transform: translateY(-5px);
}
  
.footer-copy{
    font-size: 0.9rem;
    color: #cfd8dc;
}

.windows-nav-links{
    display: none;
}

@media(max-width: 567px){
    nav .btn-primary{
        display: none;
    }

    .windows-nav-links{
        display: flex;
        gap: 30px;
        justify-content: space-between;
        padding: 10px;
        list-style: none;
    }

    .windows-nav-links a{
        color: #ffff;
        font-size: 1.1rem;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        transition: 0.3s;
    }

    .windows-nav-links a:hover{
        color: #7dd49e;
    }

    .logo{
        font-size: 3.7rem;
    }

    .intro{
        font-size: 1.8rem;
    }

    .slogan{
        font-size: 1.7rem;
    }

    .service-link{
        padding: 12px 50px;
        font-size: 1.3rem;
    }

    .about-section{
        grid-template-columns: 2fr 2fr;
        display:grid;
        margin-top: 60px;
        gap: 50px;
    }

    .about-section-image img{
        height: 70%;
    }


    .about-section h2{
        font-size: 2.8rem;
    }

    .about-section p{
        font-size: 1.4rem;
        color: #495057;
        line-height: 1.8;
    }

    .services-section h2{
        font-size: 2.8rem;
    }

    .service-cards{
        display: flex;
        gap: 25px;
    }

    .advantages{
        height: 600px;
    }

    .advantages h2{
        font-size: 2.8rem;
    }

    .advantage-cards{
        display: flex;
        gap: 25px;
    }

    .goals-values h2{
        font-size: 2.8rem;
    }

    .gv-timeline{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        column-gap: 20px;
    }

    .gv-item{
        width: 450px;
        margin: 10px auto;
    }

    .pricing h2{
        font-size: 2.8rem;
    }

    .pricing-cards{
        display: flex;
        justify-content: space-around;
    }

    .pricing-card{
        width: 300px;
    }

    .faq h2{
        font-size: 2.8rem;
    }

    .blog h2{
        font-size: 2.8rem;
    }

    .blog-cards{
        display: flex;
        gap: 25px;
    }

    .contact-info-main h2{
        font-size: 2.8rem;
    }

    .contact-details{
        display: flex;
        gap: 25px;
        justify-content: space-around;
    }

    .contact-item{
        width: 450px;
    }




}
  
  

  






